<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pokemon Team Maker</title>
    </head>
    <body>
        <h1> Welcome Trainer</h1>
        <form method="GET" action="/pokemon-builder">
            <label for="name">Enter Name</label>
            <input type="text" id="name" name="name" placeholder="--Enter Name--" required>
            <input type="submit" value="Submit">
        </form>
        <a href="/pokemon-builder">To the pokemon builder</a>
    </body>
</html>